# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
target/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store